datasets==3.6.0
einops
huggingface_hub
librosa
loguru
matplotlib
numpy
pandas
psds-eval
ruamel.yaml
scikit-learn
scipy
sed_scores_eval
sentence-transformers
soundfile
torch
torchaudio
torchcodec
torchlibrosa
tqdm
transformers
wandb
