fire
librosa
mir_eval
nnAudio
numpy
pandas
Requests
rich==13.9.4
rootutils
scikit-learn
tensorflow
tensorflow_hub
timm
tokenizers
torch
torchaudio
torchlibrosa
torchopenl3
torchvision
tqdm
transformers
treetable
omegaconf
submitit
retrying
torchmetrics
s3torchconnector
lazy-loader
huggingface_hub
hydra-colorlog
umap-learn
umap-learn
plotly==5.24.1
dora-search==0.1.12
hydra-core==1.3.2
wandb==0.17.6
lightning==2.4.0
lightning_utilities==0.11.9
datasets
soundfile
dora-search
torchcodec