torch
torchaudio
torchcodec
torchlibrosa
transformers
parler-tts
indic-nlp-library
pydub
soundfile
sentencepiece
elevenlabs
python-dotenv
ruamel.yaml
numpy
datasets==3.6.0
einops
huggingface_hub
librosa
loguru
scipy
sed_scores_eval
sentence-transformers
wandb
