torch
torchaudio
torchcodec
torchlibrosa
setuptools==80.9.0
transformers==4.46.1
parler-tts==0.2.3
protobuf==4.25.9
proto-plus==1.26.1
googleapis-common-protos==1.66.0
google-api-core==2.24.1
google-cloud-storage==3.1.0
google-cloud-core==2.4.3
git+https://github.com/ai4bharat/IndicF5.git
indic-nlp-library
pydub
soundfile
sentencepiece
elevenlabs
python-dotenv
ruamel.yaml
numpy
datasets==3.6.0
einops
huggingface_hub
hf_transfer
librosa
loguru
scipy
sed_scores_eval
sentence-transformers
wandb
