boto3
datasets==3.6.0
dora-search==0.1.12
easydict
einops
fire
huggingface_hub
hydra-colorlog
hydra-core==1.3.2
lazy-loader
librosa
lightning==2.4.0
lightning_utilities==0.11.9
loguru
matplotlib
mir_eval
nnAudio
numpy
omegaconf
pandas
plotly==5.24.1
psds-eval
PyYAML
requests
retrying
rich==13.9.4
rootutils
ruamel.yaml
s3torchconnector
scikit-learn
scipy
sed_scores_eval
sentence-transformers
simclr
soundfile
submitit
tensorflow
tensorflow_hub
timm
tokenizers
torch
torch-audiomentations
torchaudio
torchcodec
torchlibrosa
torchmetrics
torchopenl3
torchvision
tqdm
transformers
treetable
umap-learn
wandb==0.17.6
